

.navbar-inverse {
    background-color: #3070bf;
    border-color: #3070bf;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #316fc0;
    background-color: #fff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #316fc0;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ffffff;
}

.navbar-nav {
    /*float: left;*/
    margin: 0;
}

.footer-distributed .footer-right  .fa-facebook:hover  {
color: #3B5998;
}
.footer-distributed .footer-right  .fa-twitter:hover{
color: #00aced;
}
.footer-distributed .footer-right .fa-linkedin:hover{
color: #0077b5;
}
.footer-distributed .footer-right .fa-google-plus:hover{
color: #d34836;
}
.footer-distributed .footer-right .fa-youtube:hover{
color: #bb0000;
}

a.scrollup {
    color: #316fc0;
    height: 40px;
    width: 40px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 56px;
    right: 40px;
    opacity: 0,5;
    z-index: 999;
}
a.scrollup:hover {
    opacity: 1;
    background-color: rgb(49, 111, 192);
    color: #fff;
}

body {
    
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    font-family: Lato;
}

.nav>li {
    position: relative;
    display: block;
}

.navbar {
    position: relative;
    min-height: 65px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

body {
    padding-top: 0px;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 10px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 23px;
}

/*.thumbnail .caption:hover {
    color: #242425;
    background-color: #8c8d8e2e;
}
*/
.thumbnail .caption:hover {

        color: #316ec0;
        background-color: #797d821f;
        box-shadow: 0px 4px;

}
.panel-info {
    border-color: #316fc0;
}

.panel-info > .panel-heading {
    color: #ffffff;
    background-color: #316fc0;
    border-color: #ffffff;
}

.thumbnail {
    padding: 0;
    box-shadow: 6px 6px 6px #ccc;
}